{% extends 'base.html' %}

{% block content %}
	<h2 style="text-align: center;">Additional Reassigned $</h2></br>
	
	<div class="container">
		
		<form method="POST" validate>
			{% csrf_token %}
		  <div class="form-group">
		    <label for="exampleInputEmail1">Dispatch Number</label>
		    <input name="dispatch_no" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
		  </div>
		  
		  <div class="form-group">
		    <label for="exampleInputEmail1">Customer</label>
		    <input name="name" type="text" class="form-control form-control" id="exampleInputEmail1" aria-describedby="emailHelp">	
		  </div>
		  <div>
		  <label for="exampleInputEmail1">Amount</label>
		    <input name="invoiced_amount" value="0" type="text" class="form-control form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlTextarea1">Note</label>
		    <textarea name="note" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		  </div>
		  <div class="form-group">
		  <label for="exampleInputEmail1">Date</label>
		    <input name="date_received" value="{{today_date}}" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
		  </div>
		  
		  <center>
		  	<button type="submit" class="btn btn-primary btn-sm">Make Invoice</button>
		  </center>
		</form>
	</div>
{% endblock %}