<a class="btn btn-dark btn-sm" href="{% url 'rely_invoice' %}">New</a>&nbsp;&nbsp;
<a class="btn btn-info btn-sm" href="{% url 'rely_invoice_completed' %}">Completed</a>&nbsp;&nbsp;
<a class="btn btn-primary btn-sm" href="{% url 'rely_invoice_processed' %}">Invoiced</a>
&nbsp;&nbsp;
<a class="btn btn-success btn-sm" href="{% url 'rely_invoice_paid' %}">Paid</a>
&nbsp;&nbsp;
<a class="btn btn-secondary btn-sm" href="{% url 'rely_invoice_reassign' %}">Reassigned</a>
&nbsp;&nbsp;
<a class="btn btn-danger btn-sm" href="{% url 'rely_invoice_problem' %}">Problem</a></br>