{% extends 'base.html' %}

{% block content %}

	<div class="container mt-5">
		<h2 style="text-align: center;" class="mb-4">Rely Paid Invoices</h2>
	    	<div class="table-responsive">

	    		<form style="float:right;" method="POST" class="form-inline my-2 my-lg-0">
				    {% csrf_token %}
				    <input name="inv_data" class="form-control mr-sm-2" type="search" placeholder="Search invoice" aria-label="Search">
				    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form> 
				<br><br>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Dispatch Number</th>
            <th>Status</th>
            <th>Customer</th>
            <th>Date Received</th>
            <th>Date Invoiced</th>
            <th>Note</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if search_results is not None %}
            <tr><td colspan="6" class="text-center"><strong>Search Results:</strong></td></tr>
            {% for invoice in search_results %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ invoice.dispatch_number }}</td>
                <td>
				    <div class="dropdown">
				        <button class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">
				            {{ invoice.status.name }}
				        </button>
				        <ul class="dropdown-menu">
				        	{% if invoice.status.name != "Added" %}
				                <li><a class="dropdown-item" href="{% url 'added_status' invoice.id %}">Added</a></li>
				            {% endif %}
				            {% if invoice.status.name != "Update" %}
				                <li><a class="dropdown-item" href="{% url 'update_status' invoice.id %}">Update</a></li>
				            {% endif %}
				            {% if invoice.status.name != "Invoice" %}
				                <li><a class="dropdown-item" href="#">Invoice</a></li>
				            {% endif %}
				            {% if invoice.status.name != "Paid" %}
				                <li><a class="dropdown-item" href="{% url 'paid_status' invoice.id %}">Paid</a></li>
				            {% endif %}
				        </ul>
				    </div>
				</td>
                <td>${{ invoice.customer }}</td>
                <td>{{ invoice.date_received }}</td>
                <td>{{ invoice.date_invoiced }}</td>
                <td>{{ invoice.note }}</td>
                <td>{{ invoice.amount }}</td>
                <td><a class="btn btn-primary" href="{% url 'update_r_invoice' invoice.id %}">Update</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No matching invoices found.</td>
            </tr>
            {% endfor %}
            
        {% endif %}

        {% if search_results is None %}
            
            {% for invoice in all_invoice %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ invoice.dispatch_number }}</td>
                <td>
				    <div class="dropdown">
				        <button class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">
				            {{ invoice.status.name }}
				        </button>
				        <ul class="dropdown-menu">
				        	{% if invoice.status.name != "Added" %}
				                <li><a class="dropdown-item" href="{% url 'added_status' invoice.id %}">Added</a></li>
				            {% endif %}
				            {% if invoice.status.name != "Update" %}
				                <li><a class="dropdown-item" href="{% url 'update_status' invoice.id %}">Update</a></li>
				            {% endif %}
				            {% if invoice.status.name != "Invoice" %}
				                <li><a class="dropdown-item" href="#">Invoice</a></li>
				            {% endif %}
				            {% if invoice.status.name != "Paid" %}
				                <li><a class="dropdown-item" href="{% url 'paid_status' invoice.id %}">Paid</a></li>
				            {% endif %}
				        </ul>
				    </div>
				</td>
                <td>${{ invoice.customer }}</td>
                <td>{{ invoice.date_received }}</td>
                <td>{{ invoice.date_invoiced }}</td>
                <td>{{ invoice.note }}</td>
                <td>{{ invoice.amount }}</td>
                <td><a class="btn btn-primary" href="{% url 'update_r_invoice' invoice.id %}">Update</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No invoices available.</td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
	    	</div>
	</div>

{% endblock %}